/* styles.module.css */
.main {
  height: 100vh; /* Full height of the viewport */
  width: 100vw;  /* Full width of the viewport */
  margin: 0;
  padding: 0;
  overflow: hidden; /* Ensure no scrolling */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  text-align: center;
  margin-bottom: 30px;
}

.button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
}

.videoContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.videoWrapper {
  margin-bottom: 30px;
  text-align: center;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.controls button {
  padding: 10px 20px;
  font-size: 16px;
}
